<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ayc.service.app.dao.mapper.AycFinancialMapper" >
  <resultMap id="BaseResultMap" type="com.ayc.service.app.entity.AycFinancialEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="action" property="action" jdbcType="TINYINT" />
    <result column="pay_type" property="payType" jdbcType="TINYINT" />
    <result column="pay_account" property="payAccount" jdbcType="VARCHAR" />
    <result column="pay_code" property="payCode" jdbcType="VARCHAR" />
    <result column="cash" property="cash" jdbcType="DECIMAL" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="now_balance" property="nowBalance" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, action, pay_type, pay_account, pay_code, cash, uid, created_at, updated_at, now_balance
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ayc_financial
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ayc_financial
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ayc.service.app.entity.AycFinancialEntity" >
    insert into ayc_financial (id, action, pay_type, 
      pay_account, pay_code, cash, 
      uid, created_at, updated_at, 
      now_balance)
    values (#{id,jdbcType=INTEGER}, #{action,jdbcType=TINYINT}, #{payType,jdbcType=TINYINT}, 
      #{payAccount,jdbcType=VARCHAR}, #{payCode,jdbcType=VARCHAR}, #{cash,jdbcType=DECIMAL}, 
      #{uid,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{nowBalance,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ayc.service.app.entity.AycFinancialEntity" >
    insert into ayc_financial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="action != null" >
        action,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="payAccount != null" >
        pay_account,
      </if>
      <if test="payCode != null" >
        pay_code,
      </if>
      <if test="cash != null" >
        cash,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="nowBalance != null" >
        now_balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="action != null" >
        #{action,jdbcType=TINYINT},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="payAccount != null" >
        #{payAccount,jdbcType=VARCHAR},
      </if>
      <if test="payCode != null" >
        #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="cash != null" >
        #{cash,jdbcType=DECIMAL},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="nowBalance != null" >
        #{nowBalance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ayc.service.app.entity.AycFinancialEntity" >
    update ayc_financial
    <set >
      <if test="action != null" >
        action = #{action,jdbcType=TINYINT},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=TINYINT},
      </if>
      <if test="payAccount != null" >
        pay_account = #{payAccount,jdbcType=VARCHAR},
      </if>
      <if test="payCode != null" >
        pay_code = #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="cash != null" >
        cash = #{cash,jdbcType=DECIMAL},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="nowBalance != null" >
        now_balance = #{nowBalance,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ayc.service.app.entity.AycFinancialEntity" >
    update ayc_financial
    set action = #{action,jdbcType=TINYINT},
      pay_type = #{payType,jdbcType=TINYINT},
      pay_account = #{payAccount,jdbcType=VARCHAR},
      pay_code = #{payCode,jdbcType=VARCHAR},
      cash = #{cash,jdbcType=DECIMAL},
      uid = #{uid,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      now_balance = #{nowBalance,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--根据用户id查询数据-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ayc_financial
    <where>
      <if test="uid != null and uid != ''">and uid = #{uid, jdbcType=INTEGER}</if>
    </where>
  </select>


</mapper>